@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.landingComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
}

.landingComponent img {
  max-width: 20%;
}

.homeComponent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 80%;

  align-items: center;
  grid-gap: 2em;
}

.user {
  background-color: rgba(12, 180, 244, 100%);
  color: white;
  padding: 2em;
}

.actionbarComponent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}
.chatBoardComponent {
  text-align: center;
}

.chatBoardComponent h1 {
  display: inline;
}

.chatComponent {
  bottom: 2em;
  margin: 0 1em;
  width: 90%;
  height: 5%;
  position: absolute;
  border-radius: 2em;
  border: 1px gray solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatComponent form {
  position: relative;
  text-align: center;

  width: 100%;
}

#chatBox {
  width: 70%;
  display: inline-block;
  border: none;
  height: 2em;
}

#chatBox:focus {
  outline: none;
  background-color: white;
}

#submitButton {
  background-image: url(./assets/send-24px.svg);
  margin: 0 1em;
  float: right;
  border: none;
  background-color: white;
  width: 1.5em;
  height: 2em;
}

.sidebarComponent {
  height: 100%;
  width: 100%;

  color: black;
  font-weight: bold;
}

.sidebarComponent ul {
  padding: 0;
  margin: 0em auto 0em auto;
}

.sidebarComponent li {
  list-style: none;
  padding: 1em;
  border-top: 1px solid dimgray;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sidebarComponent li:last-child {
  border-bottom: 1px solid dimgray;
}

.searchComponent {
  background-color: rgba(224, 126, 0, 85%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebarHeaderComponent {
}

.searchComponent h2 {
  width: 85%;
  max-width: 85%;
}

.sidebarActionComponent {
  background-color: rgba(240, 160, 56, 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0.5em;
}

.sidebarActionLinks {
  width: 33%;
  text-decoration: none;
  color: white;
  opacity: 50%;
}

.justify-left {
  text-align: left;
}

.justify-right {
  text-align: right;
}

.justify-center {
  text-align: center;
}

#search-box {
  display: none;
}
.active {
  opacity: 100%;
}

#chat {
  list-style-type: none;
  padding: 0em;
  width: 100%;
  margin: 1em auto;
  overflow: auto;
  height: 40em;
}

#chat .message {
  text-align: left;
  position: relative;
  width: 100%;

  margin: 0em 0em 2em 0em;
  display: inline-block;

  border-radius: 0.2em;
}
.message-wrapper {
  position: relative;
  text-align: right;
}

.message-wrapper-left {
  position: relative;
  text-align: left;
  margin-left: 1em;
}
#chat .currentUser {
  background-color: #f0a038;
  text-align: right;
  display: inline-block;
  padding: 1em;
  margin-right: 1em;
}

.message p {
  margin: 0;
}

#chat .foreignUser {
  background-color: rgb(179, 172, 172);
  display: inline-block;
  text-align: left;

  padding: 1em;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 29px solid rgb(179, 172, 172);
  margin-left: -1em;
  top: 0em;
  position: absolute;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 29px solid #f0a038;
  right: 0em;
  top: 0em;
  position: absolute;
  right: 0em;
}
.profileImg {
  background-color: gray;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.profileName {
  align-self: center;
  width: 75%;
}
